<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>12Bar</string>
	<key>CFBundleIdentifier</key>
	<string>us.12bar.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FacebookAppID</key>
	<string>1503263816552994</string>
	<key>FacebookDisplayName</key>
	<string>12 BAR</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>URL schemes</key>
			<array>
				<string>fb1503263816552994</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
